{
   project =
   {
      description="🐛 mulle-multififo multi-producer/multi-consumer FIFO holding `void *`";
      domain="github";
      name="mulle-multififo";
      user="mulle-concurrent";
      repo="mulle-multififo";
      version="1.0.3";
      homepage="https://github.com/mulle-concurrent/mulle-multififo";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🔠 Cross-platform thread/mutex/tss/atomic operations in C";
         domain="github";
         name="mulle-thread";
         repo="mulle-thread";
         url="https://github.com/mulle-concurrent/mulle-thread";
         user="mulle-concurrent";
      },
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="github";
         name="mulle-allocator";
         repo="mulle-allocator";
         url="https://github.com/mulle-c/mulle-allocator";
         user="mulle-c";
      }
   );
}
